body {
	color: #222;
	font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 17px;
	line-height: 1.5em;
	margin-top: 60px;
}

body > header {
	margin: 5em auto 4em;
	color: #A5A5A5;
}

body > header > p {
	margin: 0;
}

body > header, body > section, body > footer {
	width: 640px;
	margin: 0 auto;
}

body > section {
	margin-top: 20px;
}

body > section > p {
	color: #666;
	margin: 0 0 1em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2 {
	font-size: 1.3em;
	margin-bottom: 0.2em;
	font-weight: 700;
}

h1 {
	color: black;
	font-size: 2.5em;
	font-weight: 700;
	margin-bottom: 0.3em;
}

h1 > a {
	color: #2a9ccb;
}

a {
	color: #2a9ccb;
}

book {
	margin: 10px 4px 10px 4px;
	display: block;
	float: left;
	width: 150px;
	height: 240px;
	text-align: center;
}

book > p {
	font-size: 12px;
	text-align: center;
}

book > p > a {
	color: #888;
	font-weight: 400;
}

/* 
	RESPONSIVE STYLING 
 */

@media screen and (max-width: 480px) 
{
	body {
		margin-top: 40px;
	}

	body > header, body > section, body > footer {
		width: 400px;
		margin: 0 auto;
	}

	body > header {
		margin-bottom: 1.25em;
	}

	h1 {
		font-size: 2.0em;
	}

	book {
		width: 180px;
	}
}

@media screen and (max-width: 320px) 
{
	body {
		margin-top: 20px;
	}

	body > header, body > section, body > footer {
		width: 280px;
		margin: 0 auto;
	}

	body > header {
		margin-bottom: 1.25em;
	}

	h1 {
		font-size: 1.5em;
	}

	book {
		width: 150px;
	}
}